<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>메인페이지</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="static/img/favicon.png" rel="icon">
    <link href="static/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="static/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="static/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="static/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="static/vendor/simple-datatables/style.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="static/vendor/simple-datatables/simple-datatables.js"></script>

    <!-- Template Main CSS File -->
    <link href="static/css/style.css" rel="stylesheet">
    <style>
        td {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 200px; /* 원하는 최대 너비로 설정 */
        }

        #StockList tbody tr:hover {
            color: #4154f1;
            background-color: #f6f9ff;
            border-radius: 5px;
            opacity: 0.5;
            cursor: pointer;
        }


        .chart-container {
            overflow-x: auto;
            white-space: nowrap;
        }

    </style>
    <script>

        let StockName = "";

        function GetTradeType(val) {
            switch (val) {
                case 0 :
                    return "금융투자";
                case 1 :
                    return "보험";
                case 2 :
                    return "투신";
                case 3 :
                    return "사모";
                case 4 :
                    return "은행";
                case 5 :
                    return "기타금융";
                case 6 :
                    return "연기금 등";
                case 7 :
                    return "기타법인";
                case 8 :
                    return "개인";
                case 9 :
                    return "외국인";
                case 10 :
                    return "기타외국인";
            }
        }

        function SetStockDetailChart(StockNM) {

            $.ajax({
                url: '/GetStockDetailView',
                method: 'POST',
                data: {
                    StockName: StockNM,
                    ViewType: $("#ViewType").val()
                },
                success: function (response) {

                    let Score = response.score;
                    $("#StockScore").text(Score + " 점");
                    // Append reasons to ScoreReason table
                    // Append reasons to ScoreReason table using jQuery
                    let reasons = response.reasons;
                    let scoreReasonTable = $("#ScoreReason");
                    scoreReasonTable.html("");
                    let num = 1;
                    $.each(reasons, function (index, reason) {
                        scoreReasonTable.append(`<tr><td>${num}</td><td>${reason}</td></tr>`);
                        num++;
                    });

                    // Initialize the ECharts instance
                    let chart = echarts.init(document.querySelector("#lineChart"));


                    // Prepare the series data dynamically
                    let seriesData = [];
                    for (let i = 0; i <= 10; i++) {
                        if (response['TradeValSum' + i]) {
                            seriesData.push({
                                name: GetTradeType(i),
                                type: 'line',
                                data: response['TradeValSum' + i],
                                yAxisIndex: 1,
                                areaStyle: {opacity: 0.2} // Add area style to create an area chart

                            });
                        }
                    }

                    let candlestickData = response.candlestickData;
                    seriesData.push({
                        name: "시세",
                        type: 'candlestick',
                        data: candlestickData,
                        yAxisIndex: 0
                    });


                    console.log(seriesData);

                    // Calculate the range for the last 5 data points
                    let totalDataPoints = response.dates.length;
                    let startValue = ((totalDataPoints - 20) / totalDataPoints) * 100;
                    let endValue = 100;

                    // Set the chart options
                    let options = {
                        xAxis: {
                            type: 'category',
                            data: response.dates // Use the dates from the response for x-axis
                        },
                        legend: {
                            data: ['Candlestick', '금융투자', '보험', '투신', '사모', '은행', '기타금융', '연기금 등', '기타법인', '개인', '외국인', '기타외국인'],
                            left: 'left' // Legend moved to the left
                        },
                        yAxis: [{
                            type: 'value',
                            name: 'Price',
                            position: 'left',
                            min: 'dataMin',
                            max: 'dataMax'
                        }, {
                            type: 'value',
                            name: 'Volume',
                            position: 'right',
                            min: 'dataMin',
                            max: 'dataMax'
                        }],
                        series: seriesData.map(item => {
                            if (item.type === 'line') {
                                item.areaStyle = null; // Remove area style from line charts
                                item.symbol = 'none'; // 라인 차트의 마커 제거

                            }
                            return item;
                        }),
                        dataZoom: [
                            {
                                type: 'slider',
                                start: startValue, // Adjust start to show the last 5 data points
                                end: endValue // End at 100% to show the last data points
                            },
                            {
                                type: 'inside'
                            }
                        ],
                        tooltip: {
                            trigger: 'axis'
                        },
                        toolbox: {
                            show: true, // 툴박스 표시
                            feature: {
                                saveAsImage: {},
                                restore: {},
                                dataZoom: {},
                                magicType: {
                                    type: ['line', 'bar']
                                },
                                brush: {
                                    type: ['rect', 'polygon', 'lineX', 'lineY', 'keep', 'clear']
                                }
                            },
                            iconStyle: {
                                borderColor: 'black' // 툴박스 아이콘 스타일 설정
                            }
                        }

                    };


                    // Use the specified chart options
                    chart.setOption(options);
                    chart.on('dataZoom', function (params) {  // 현재 옵션 가져오기
                        ChartZoom(chart);
                    });
                    ChartZoom(chart);
                    $("#GetFRPvChart").trigger("click");

                },
                error: function (error) {
                    console.log("Error:", error);
                }
            });

        }

        $(document).ready(function () {
            $("#ViewType").on("change", function () {
                SetStockDetailChart(StockName);
            });

            $("#StockList tbody tr").click(function () {
                SetEventTableClick(this);

            });
            $(".datatable-input").on("change", function () {

                $("#StockList tbody tr").click(function () {

                    SetEventTableClick(this);

                });
            });

            $("#GetFRPvChart").on("click" , function (){
                let startDT = $("#GetFRPvChart").attr("data-startdt");
                let endDT = $("#GetFRPvChart").attr("data-enddt");
                SetFRPVChart(StockName , startDT , endDT);
            });
        });

        function ChartZoom(StockChart) {
            // 현재 옵션 가져오기
            var currentOption = StockChart.getOption();
            var startPercentage = currentOption.dataZoom[1].start;
            var endPercentage = currentOption.dataZoom[0].end;

            var dataLength = currentOption.xAxis[0].data.length;

            // 퍼센티지 값을 데이터 길이와 곱하여 인덱스 계산
            var startIndex = Math.round((startPercentage / 100) * (dataLength - 1));
            var endIndex = Math.round((endPercentage / 100) * (dataLength - 1));

            // 데이터 길이를 벗어나지 않도록 보정
            startIndex = Math.max(0, Math.min(dataLength - 1, startIndex));
            endIndex = Math.max(0, Math.min(dataLength - 1, endIndex));

            // 데이터가 역순으로 되어 있는 경우, 시작 인덱스가 종료 인덱스보다 큰지 확인
            if (startIndex > endIndex) {
                [startIndex, endIndex] = [endIndex, startIndex];
            }

            var startDT = currentOption.xAxis[0].data[startIndex];
            var endDT = currentOption.xAxis[0].data[endIndex];

            $("#GetFRPvChart").text("기간["+startDT+ " ~ " + endDT + "]의 FRPv 지표 확인하기");
            $("#GetFRPvChart").attr("data-startdt" , startDT);
            $("#GetFRPvChart").attr("data-enddt" , endDT);
        }

        function SetFRPVChart(Stock , startDT ,endDT ){

            $.ajax({
                url: '/GetFRPVChartView',
                method: 'POST',
                data: {
                    StockName: Stock,
                    startDT: startDT,
                    endDT: endDT,
                },
                success: function (response) {

                    // 매입 단가와 거래량 데이터를 정렬하여 y축에 반영
                    const sortedProfileData = response.profile_key.map((key, index) => ({
                        price: parseInt(key, 10),
                        volume: response.profile_values[index]
                    })).sort((a, b) => a.price - b.price);

                    const sortedPrices = sortedProfileData.map(data => data.price.toString());
                    const sortedVolumes = sortedProfileData.map(data => data.volume);

                    // ECharts 인스턴스 생성
                    const chart = echarts.init(document.getElementById('FRPvChart'));

                    // 최대값과 최소값 계산
                    const maxPrice = Math.max(...response.closing_prices);
                    const minPrice = Math.min(...response.closing_prices);

                    // 차트 옵션
                    // 차트 옵션
                    const option = {
                        title: {
                            text: '종가 및 매입 단가별 거래량 차트'
                        },
                        tooltip: {
                            trigger: 'axis',
                            axisPointer: {
                                type: 'shadow'
                            }
                        },
                        legend: {
                            data: ['종가', '매입 단가별 거래량']
                        },
                        xAxis: [
                            {
                                type: 'value',
                                position: 'top',
                                axisLabel: {show: false},
                                min: Math.min(...sortedVolumes)  // 거래량 축의 시작점
                            },
                            {
                                type: 'category',
                                data: response.dates,
                                axisLabel: {rotate: 45},
                                boundaryGap: true
                            }
                        ],
                        yAxis: [
                            {
                                type: 'category',
                                data: sortedPrices,
                                position: 'left'
                            },
                            {
                                type: 'value',
                                position: 'right',
                                scale: true,
                                max: maxPrice,
                                min: minPrice
                            }
                        ],
                        series: [
                            {
                                name: '매입 단가별 거래량',
                                type: 'bar',
                                data: sortedVolumes.map((volume, index) => ({
                                    value: volume,
                                    itemStyle: {
                                        color: volume < 0 ? '#ff4d4f' : '#73c0de'  // 양수와 음수 색상 다르게 설정
                                    }
                                })),
                                xAxisIndex: 0,
                                yAxisIndex: 0,
                                barWidth: '80%',
                                itemStyle: {
                                    opacity: 0.7
                                }
                            },
                            {
                                name: '종가',
                                type: 'line',
                                data: response.closing_prices,
                                smooth: true,
                                lineStyle: {color: '#007bff'},
                                itemStyle: {color: '#007bff'},
                                xAxisIndex: 1,
                                yAxisIndex: 1
                            }
                        ],
                        toolbox: {
                            show: true, // 툴박스 표시
                            feature: {
                                saveAsImage: {},
                                restore: {},
                                dataZoom: {},
                                magicType: {
                                    type: ['line', 'bar']
                                },
                                brush: {
                                    type: ['rect', 'polygon', 'lineX', 'lineY', 'keep', 'clear']
                                }
                            },
                            iconStyle: {
                                borderColor: 'black' // 툴박스 아이콘 스타일 설정
                            }
                        }
                    };

                    // 차트 옵션 적용
                    chart.setOption(option);
                },
                error: function (error) {
                    console.log("Error:", error);
                }
            });
        }

        function SetEventTableClick(ele) {
            $("#ViewStockDetail").click();

            // Get the data from the selected row
            var itmsNm = $(ele).find("td:eq(0)").text();
            var corpNm = $(ele).find("td:eq(1)").text();
            var isinCd = $(ele).find("td:eq(2)").text();
            StockName = itmsNm;
            var StockCD = $(ele).find("td:eq(3)").text();
            var crno = $(ele).find("td:eq(4)").text();
            var mrktCtg = $(ele).find("td:eq(5)").text();

            $("#ModalTitle").text(mrktCtg + " > " + itmsNm + " > " + isinCd + "[" + StockCD + "]")

            SetStockDetailChart(StockName);
        }
    </script>

</head>

<body>

<!-- ======= Header ======= -->
<header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
        <a href="/main" class="logo d-flex align-items-center">
            <img src="static/img/logo.png" alt="">
            <span class="d-none d-lg-block">Stock Listner</span>
        </a>
        <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->


    <nav class="header-nav ms-auto">
        <ul class="d-flex align-items-center">

            <li class="nav-item dropdown pe-3">

                <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                    <img src="static/img/userimg.png" alt="Profile" class="rounded-circle">
                    <span class="d-none d-md-block dropdown-toggle ps-2">관리자</span>
                </a><!-- End Profile Iamge Icon -->

                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                    <li class="dropdown-header">
                        <h6>관리자</h6>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
                            <i class="bi bi-person"></i>
                            <span>마이페이지</span>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>


                    <li>
                        <hr class="dropdown-divider">
                    </li>
                </ul><!-- End Profile Dropdown Items -->
            </li><!-- End Profile Nav -->

        </ul>
    </nav><!-- End Icons Navigation -->

</header><!-- End Header -->

<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-heading">관리자 메뉴</li>

        <li class="nav-item">
            <a class="nav-link" href="/main">
                <i class="bi bi-person"></i>
                <span>종목 보고서</span>
            </a>
        </li><!-- End Profile Page Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" href="/main">
                <i class="bi bi-card-list"></i>
                <span>자동 매매</span>
            </a>
        </li><!-- End Register Page Nav -->

    </ul>

</aside><!-- End Sidebar-->

<main id="main" class="main">

    <div class="pagetitle">
        <h1>종목 리스트</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">홈</a></li>
                <li class="breadcrumb-item active">종목 리스트</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
        <div class="row">

            <!-- Right side columns -->
            <div class="col-lg-12">
                <div class="card">
                    <button type="button" id="ViewStockDetail" style="display: none;" class="btn btn-primary"
                            data-bs-toggle="modal" data-bs-target="#fullscreenModal">
                        상세 정보 보기
                    </button>

                    <div class="modal fade" id="fullscreenModal" tabindex="-1">
                        <div class="modal-dialog modal-fullscreen">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="ModalTitle"></h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-lg-10">
                                                <h5 class="card-title">투자자별 점유율 그래프
                                                    <select class="form-select" id="ViewType"
                                                            style="width: 120px; float: right; margin-bottom: 20px;">
                                                        <option value="daily">일</option>
                                                        <option value="weekly">주</option>
                                                        <option selected="" value="monthly">달</option>
                                                        <option value="quarterly">분기</option>
                                                        <option value="yearly">년</option>
                                                    </select>
                                                </h5>


                                                <!-- Line Chart -->
                                                <div class="chart-container">
                                                    <div id="lineChart" style="width: 100%;min-height: 700px;"></div>
                                                </div>
                                                <!-- End Line Chart -->
                                            </div>
                                            <div class="col-lg-2">
                                                <h5 class="card-title">투자 점수 및 산출 근거</h5>
                                                <div class="alert alert-success bg-success text-light border-0 alert-dismissible fade show"
                                                     id="StockScore" role="alert"
                                                     style="text-align: center;font-weight: bold; font-size: 30px; padding: 10px;">

                                                </div>
                                                <table class="table table-striped">
                                                    <thead>
                                                    <tr>
                                                        <th scope="col">#</th>
                                                        <th scope="col">근거</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody id="ScoreReason">
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="col-lg-12">
                                                <h5 class="card-title">FRPv(Fixed Range Volume Profile) 지표 확인하기
                                                <button type="button" class="btn btn-primary rounded-pill" id = "GetFRPvChart"></button>
                                                </h5>
                                                <div id="FRPvChart" style="width: 100%;min-height: 700px;"></div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                                </div>
                            </div>
                        </div>
                    </div><!-- End Full Screen Modal-->
                    <div class="card-body">
                        <h5 class="card-title">종목 리스트</h5>
                        <div id="">
                            <table id="StockList" class="datatable" style="font-size: 15px;">
                                <thead>
                                <tr>
                                    <th>종목 약어명</th>
                                    <th>종목명</th>
                                    <th>종목 코드</th>
                                    <th>단축 코드</th>
                                    <th>법인 코드</th>
                                    <th>구분</th>
                                    <th>점수</th>
                                    <th>비고</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for stock in stocks %}
                                    <tr>
                                        <td>{{ stock.itmsNm }}</td>
                                        <td>{{ stock.corpNm }}</td>
                                        <td>{{ stock.isinCd }}</td>
                                        <td>{{ stock.srtnCd }}</td>
                                        <td>{{ stock.crno }}</td>
                                        <td>{{ stock.mrktCtg }}</td>
                                        <td>{{ stock.db1 }}</td>
                                        <td>
                                            {% set score = stock.db1|int %}
                                            {% if score >= 90 %}
                                            <button type="button" class="btn btn-success">관심</button>
                                            {% elif score >= 70 %}
                                            <button type="button" class="btn btn-primary">관찰</button>
                                            {% elif score >= 50 %}
                                            <button type="button" class="btn btn-warning">낮음</button>
                                            {% else %}
                                            <button type="button" class="btn btn-danger">주의</button>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
            <!-- End Right side columns -->

        </div>
    </section>

</main><!-- End #main -->


<!-- ======= Footer ======= -->
<footer id="footer" class="footer">
    <div class="copyright">
        &copy; Powery by <strong><span>박용규</span></strong>. All Rights Reserved
    </div>
</footer><!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="static/vendor/apexcharts/apexcharts.min.js"></script>
<script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="static/vendor/chart.js/chart.umd.js"></script>
<script src="static/vendor/echarts/echarts.min.js"></script>
<script src="static/vendor/quill/quill.js"></script>
<script src="static/vendor/simple-datatables/simple-datatables.js"></script>
<script src="static/vendor/tinymce/tinymce.min.js"></script>
<script src="static/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="static/js/main.js"></script>

</body>

</html>
